annotated-types
anyio
branca
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
fastapi
folium
fonttools
greenlet
h11
idna
Jinja2
joblib
kiwisolver
logistics-api
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pydantic
pydantic_settings
pydantic_core
pygad
PyMySQL
pyparsing
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
sniffio
SQLAlchemy
starlette
threadpoolctl
typing_extensions
tzdata
urllib3
uvicorn
xyzservices
cryptography
mysql-connector-python
